.slick-slide{


}
.g-list-cont{

  margin-top:60px;
}
.g-list-item{
  text-align:center !important;
}
.g-list{

  // display:flex;
  padding-left:20px !important;
  padding-right:20px !important;
}

li.g-list-item{
    text-align:left;
  & a.g-list-item{
    display:inline-block;
    width:200px;
    color:#000;

  }

  & .g-list-img{
    width:170px;
    height:170px;
    overflow: hidden;
  }
}
