.container{
 text-align: center;
  background-color:#ffffff;
@media(min-width:1005px){
    margin-left: 260px;
}
}

.products-section{
  background-color:$pbgcolor;
  padding-bottom:30px;
}
.item{
  width:168px !important;
  height:301;
  overflow:hidden;

  box-shadow: 0 0 3px #898383;
  text-align: center;
  padding-bottom: 20px;
  margin-right:15px;
  & a{
    display:block;
  }

  & .item-pic{
    width:100%;

  }
}


.item-details{
  text-align: center;

 & .item-price{
   color:$lightred;
 }
}
.i-title{
  font-size:14px;
  font-weight: 300;
  color:#000;
}
.i-name{
  font-weight:400;
  margin-bottom:20px;
}
