
.login-header{
  margin-top:40px;
  font-weight:400;
}
.form-container{
   padding:7px;
   margin:auto;
 & label{
   margin:0;
   color:#4c4a4a;
   font-size:14px;
 }

 & input{
   padding-top:9px;
   padding-bottom:9px;

   &:focus,&:hover{
     border-color:#03a9f4;
     outline:none;
   }

 }

 @media(min-width:470px){
   width:360px;
   box-shadow:0 0 4px #d5d1d1;
   padding:30px;
 }
}

.form-signup{
  width:100%;

}


#toggle-hide,#toggle-show{
  top:0;
  right:5px;
   height:100%;

   &:hover{
     text-decoration:underline;
     opacity:.8;
   }
}
.signin{
  background-color:$lightred;
  margin-top:25px;
}
.signin,.signup,#form-submit{
  padding:9px 8px
}
#form-submit{

}
.email-error,.password-error,.firstname-error,.lastname-error{
  display:none;
  font-size:14px;
}
img.error{
  width:12px;
  height:12px;
}
.option-msg-container{
  margin-top:25px;
  border-bottom:1px solid #000;
  justify-content: center;
  align-items:center;
  & .option-head{
    top:-12px;
    z-index:6;
    padding-left:12px;
    padding-right:12px;
  }
}
