.main-header{
  background-color:$lightred;
  width:100%;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  @media(min-width:490px){
    height:50px;
  }

  @media(min-width:1005px){
    height:60px;
    padding-left:270px;
  }
}

.header-container{
  width:100%;
  justify-content: center;
  align-items: center;
}
#menu-icon{
 margin-right:10px;

 @media(min-width:1005px){
   display:none;
 }
}

.header{
  @media(min-width:1005px){
    box-shadow: 3px 0 3px #c9c1c1;
    height:800px;
  }
}
.logo{
 margin-right:10px;
}
.search{
  margin-left:auto;
 margin-right:auto;
 width:100%;
 justify-content: center;
 align-items: center;
 max-width:578px;
}

.fav{
  margin-left:10px;
  margin-right:10px;
}
.search-field{

 border:0;
 border-right:none;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;
 width:100%;
 height:30px;
 @media(min-width:1005px){
   height:35px;
 }
}

.search-btn{
  border:0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left:none;
  background-color:#fff;
  height:30px;
  @media(min-width:1005px){
    height:35px;
  }
}
.search-icon{
top:0;
left:0;
}

.res-nav{
  top:0;
  left:0;
  width:260px;
  height:100%;
  box-shadow: 3px 0 3px #c9c1c1;
  transition:.3s ease-in-out;
  transform:translateX(-260px);

  @media(min-width:1005px){
    transition:0s;
    transform:translateX(0)
  }
}

.user-acct-action{
  background-color:$lightred;
  padding:15px
}

.menu-section{
  padding:0 20px;

  .section-divider{
    border-bottom:1px solid $seccolor;
    padding:15px 0;
  }

  @media(min-width:1005px){
    padding: 0 0 0 20px;
  }
}

.main-nav{
  margin-bottom:15px;
  background:url("../images/right-arrow.svg") no-repeat center right;

  &:hover{
    cursor:pointer;
    color:$lightred;
  }

  @media(min-width:1005px){
    background-image:none;
    margin:0;
    padding-top:20px;
    padding-bottom:20px;
  }
}

.back-cont,.sub-back-cont{
  & a{
    display:block !important;
  }
  padding:15px;
  background-color:$lightred;

  &:hover{
    cursor:pointer;
  }

  @media(min-width:1005px){
   display:none;
  }
}
.back,.sub-back{
  margin:0;
  color:#fff;
  text-indent:25px;
  background:url("../images/left-arrow.svg") no-repeat center left;
  @media(min-width:1005px){
    display:none;
  }
}
.sub-navs{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#ffffff;
  z-index:5;

  @media(min-width:1005px){

  display:none !important;
  }
}
  .sub-sub-navs{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#ffffff;
    z-index:5;

    @media(min-width:1005px){
    position:static;
    display:block;
    }

}
.sub-nav-cont,.sub-sub-nav-cont{
  padding:20px;

}

.sub-sub-nav-cont{
  @media(min-width:1005px){
    min-width:185px;
  }
}
.sub-nav{
  display:block;

}
.sub-sub-navs{
  z-index:10
}

html{
  @media(min-width:1005px){
    transform:translateX(0) !important;
  }
}
.nav-container{
  @media(min-width:1005px){
    position:absolute;
    display:none;
    top:0;
    left:240px;
    background-color:#ffffff;
    border:1px solid $seccolor;
    border-bottom:none;
    height:500px;
    transition:.3s ease-in-out;
    z-index:8;

  }
}
.sec-notice{
  box-shadow: 0 2px 2px #cec4c4;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;


}
.show-menu{
  transform:translateX(260px)
}

.force-flex{
  display:flex;
}
