 #sticky-wrapper.sticky-wrapper{
   z-index:8 !important;
 }
 .main-header {
   z-index:10 !important;

 & *{
     z-index:10 !important;
  }

}
//
// .banner-cont,.banner-cont *{
//   z-index: 2 !important;
// }
.is-sticky{
  background-color:$navcolor;
}
.home-menu-cont{
  background-color:$navcolor;
  width:102px;
  height:44px;

}

#logo-img{
  width:32px;
  height:32px;
}
#menu-img{
  width:32px;
  height:25px;
}
#wishlist-img{
  width:40px;
  height:39px;
}
#basket-img{
  width:40px;
  height:39px;
}
#search-img{
 width:18px;
 height:18px;
}
.search{
  top:0;
  right:0;
  width:40px;
  height:100%;

}
#form-search{
  width:100%;
  margin:0 5px;

  @media(min-width:501px){
    width:261px;
    margin-right:auto;
    margin-left:auto;
  }

  @media(min-width:1013px){
    width:398px;
    margin-right:auto;
    margin-left:auto;
  }
}
#search-field{
  height:40px;
  border:2px solid $navcolor;
  width:100%;
  &::placeholder{
    color:$navcolor;
    font-size:14px;
    font-weight:bold;
  }
}

#logo-2{
  width:32px;
  height:32px;
}
#close{
  width:25px;
  height:25px;
}

#nav-overlay{
  top:0;
  left:0;
  width:0;
  height:100%;
  background-color:rgba(0, 0, 0, 0.3);
  z-index:10;
}
.nav-container{
  width:100%;
  height:100%;
  overflow-y:scroll;
  top:0;
  left:0;
  background-color:#ffffff;
  z-index:4;
  transition:.3s linear;
  transform:translateX(-100%);
  .controller{
    background-color:$navcolor;
    height:44px;
  }
  .account{
    span{
      font-size:15px;
    }
  }
  #help,#add-user,#track-order,#signin{
    width:18px;
    height:26px;
  }

  @media(min-width:320px){
    width:320px;
    transform:translateX(-320px);
  }
}


.account-list{
  padding:20px;

  & li{
    padding-bottom:20px;

    & a{
      color:#000
    }
  }
  @media(min-width:501px){
    padding:30px;
  }
}

.no-translate{
  transform:translateX(0);
}
