.primary-column{
  position:absolute;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index:15;
  top:0;
  left:0;
}

.head-toggler{
  padding-top:20px;
  padding-bottom:20px;
  font-weight:300;
  color:#000;
  display:block;
  font-size:1.2em;
  background:url("../images/plus.svg") no-repeat center right ;


}

.filter-section{
  padding-left:20px;
  padding-right:20px;
  border-bottom:1px solid $dptbordercolor;
}

.content-toggle{
    display:none;
    border-top:1px solid $dptbordercolor;

      & .depment-single-level{
        & a{
          color:$dptlinkcolor;
          font-weight:100;
          font-size:.9em;
        }
      }
}

.chkbox-area{
  display:flex;
  align-items:baseline;

  & span.check{
    display:inline-block;
    border:1px solid #000;
    height: 12px;
    width: 12px;
    border-color:#9d9fa2;
    vertical-align:middle;
    border-radius: 3px;
    margin-right:5px;
  }
  label{
    font-size:14px;
  }
}
.filter{
  display:none;

  &:checked + label span.check{
    background: url('../images/check.svg') no-repeat center;
  }
}

.buttons{
  padding:10px;
  border-bottom:1px solid $dptbordercolor;
}
.add-minimize{
  background: url('../images/minimize.svg') no-repeat center right;
}
