button:focus{
  outline:0;

}
button{
    background-color:transparent;
}
ul{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}

body{
  font-family:$bodyfont;
}
a:hover{
  text-decoration:none;

}
