
body{
  font-family:Montserrat,sans-serif;

}
button:focus{
  outline:0;
}
button:hover{
  cursor:pointer;
}
.none{
  display:none;
}

.d-flex{
  display:flex;
}
.justify-center{
  justify-content: center;
}
.align-items-center{
  align-items:center;
}
.blk{
  display:block;
}
.control{
  width:100%;
}

.field{
  margin-bottom:20px;
}
input,select,textarea{
  padding:4px 10px;
  border: 1px solid #c5c5c5;
  margin-bottom:10px;
  outline:0;
  height:42px;

  &:hover,&:focus{
    border-color: #0074e4;
  }

  &:focus{
    box-shadow: inset 0 0 0 #f4f4f4, 0 0 5px #7fb9f1;
  }
}

select{
  background-color:transparent;
  display:block;

}

textarea{
  display:block;
  width:100%;
  height:100px;
}
.browse-cont{
  width:100%;
  height:196px;
  border: 3px dashed grey;
  max-width:800px;
  position:relative;

  &:hover{
    border-color:coral;
  }

  & .browse-img{

  }
}
.text-center{
  text-align:center;
}
button[type=submit],button[type=button]{
  background-color:coral;
  color:#fff;
  border:none;
  height:37px;
  border-radius:4px;

}
form{
  padding:20px;
}

.upload-modal{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  @media(min-width:760px){
    background-color:rgba(0,0,0,.5);
    padding-top:45px;
  }

}

form.upload.new{
  background-color:#ffffff;
  height:100%;
  @media(min-width:760px){
    max-width:600px;
    margin:auto;
  }
}
.upload-head{
  width:100%;
  height:30px;
  box-shadow:0 3px 3px #c7c2c2;

}
.loader-div{
  position:absolute;
  background-color:#eee;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  & img{
    margin-top:20px;
  }
}
form.upload.description{

  @media(min-width:760px){
    max-width:600px;
    margin:auto;
  }
}
.text-coral{
  color:coral;
}
.image-preview{
  display: flex;
  align-items: center;
  border-top:1px solid #9c9797;
  padding-top:20px;
  padding-bottom:20px;
  flex-direction:column;
 @media(min-width:570px){
   flex-direction:row;
 }
}
.image-preview__img{
  width:150px;
  margin-right:30px;
}

.image-preview__btn{
  padding-top:20px;
  border:none;
  background-color:transparent !important;
  color:#000 !important;
}
.image-preview__delete{
  width:15px;
  height:15px;
  margin-right:15px;
}
