

if pages > 0
  div.pagination__container
    ul
      if currentPage
        if currentPage > 1
          li.pagination__item
            a.pagination__link(href="/"+pageName+"?page="+previousPage) &#171;
      - for(page=0;page<pages;page++)
        - var pageNum = page+1;
         if pageNum == currentPage
           li.pagination__item
             a.disabled.pagination__link(disabled) #{pageNum}
         else
           li.pagination__item
             a.pagination__link(href="/"+pageName+"?page="+pageNum) #{pageNum} 
      if currentPage < pages
        li.pagination__item
          a.pagination__link(href="/"+pageName+"?page="+nextPage) &#187;
footer.footer.d-flex.flex-col.flex-wrap.justify-center.align-items-center
     section &copy; #{new Date().getFullYear()} GlammyCare
   
     ul.footer-nav.d-flex.mt-20
      li.footer-nav__item #[a.footer-nav__link(href="#") Makeup ]  
      li.footer-nav__item #[a.footer-nav__link(href="#") Bath & Body ]  
      li.footer-nav__item #[a.footer-nav__link(href="#") Men ]  
    
     ul.footer-icons.mt-20
       a.footer-icons__link #[img.footer-icons__img(src="/images/facebook.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/instagram.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/twitter.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/youtube.svg")]
