footer.footer.d-flex.flex-col.flex-wrap.justify-center.align-items-center
     section &copy; #{new Date().getFullYear()} GlammyCare
   
     ul.footer-nav.d-flex.mt-20
      li.footer-nav__item #[a.footer-nav__link(href="#") Makeup ]  
      li.footer-nav__item #[a.footer-nav__link(href="#") Bath & Body ]  
      li.footer-nav__item #[a.footer-nav__link(href="#") Men ]  
    
     ul.footer-icons.mt-20
       a.footer-icons__link #[img.footer-icons__img(src="/images/facebook.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/instagram.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/twitter.svg")]
       a.footer-icons__link #[img.footer-icons__img(src="/images/youtube.svg")]
