div#nav-overlay.abs
  section.nav-container
    nav 
      section.controller.rel.d-flex.justify-center.align-items-center
        a.mr-auto(href="/")
         img#logo-2(src="/images/logo.svg")
        button.close.transparent.no-border
         img#close(src="/images/close.svg")
      
      section.account
        ul.account-list
         li
           a(href="/account/signin") #[img#signin(src='/images/signin.svg')] #[span Sign In]
         li
           a(href="#") #[img#track-order(src='/images/reorder.svg')] #[span Track Order]
         li
           a(href="/account/signup") #[img#add-user(src='/images/add-user.svg')] #[span Create Account]
         li
            a(href="#") #[img#help(src='/images/help.svg')] #[span Help] 
            
      section.account
        ul.account-list
          li
            a(href="/makeup") Makeup
          li
            a(href="/bath-and-body") Bath & Body
          li
            a(href="/men") Men
