extends partials/checkout-layout
block content
  .sco-container
    
    form.signin-container(action="",method="post")
        if email_Error
            p.text-danger  #{email_Error}
        h1 Sign In
      
      
        
        .field
          label#email-validate(for="email")
            span.email-label Email Address*
            span.email-error.d-flex.align-items-center
              img.error(src="/images/error.svg")
              span.text-danger Please enter a valid email address.
            
          input.text-field.control#email(type="text",name="email")
          
        .field
          label#password-validate(for="password")
            span.password-label Password*
            span.password-error.d-flex.align-items-center
              img.error(src="/images/error.svg")
              span.text-danger Please enter your password
              
          input.text-field#password(type="password",name="password")
        input.link-btn.link-btn--emph.link-btn--rounded.chk-signin#form-submit(type="submit",value="Sign In")
          
          
    .signup-container
      h2 No account? No problem.
      p Continue checkout without an account
      a.link-btn.blk.link-btn--emph.link-btn--rounded(href="/checkout/shipping-address") Continue

    .persistent-summary
      .d-flex
        span.mr-auto Subtotal
        span.bold &#8373;40.50
      .d-flex
        span.mr-auto Shipping
        span.bold Free
      .divider

      .d-flex
        span.mr-auto.total.bold Est.total
        span.bold.est-total &#8373;43.16



  .lvl-indicator-container
    .lvl-indicator.d-flex.align-items-center
      .indicator-num-cont
        span.indicator-num.blk 1
      .indicator
        span.indicator-words Shipping  options

    .lvl-indicator.d-flex.align-items-center
      .indicator-num-cont
        span.indicator-num.blk 2
      .indicator
        span.indicator-words Enter Shipping Address

    .lvl-indicator.d-flex.align-items-center
      .indicator-num-cont
        span.indicator-num.blk 3
      .indicator
        span.indicator-words Confirm Order
