extends layout
block content
  
  article.site-banner
    div.banner-container
      a(href="#")
        img(src="/images/banner1.jpg")
      a(href="#")    
        img(src="/images/banner2.jpg")
      a(href="#")    
        img(src="/images/banner3.jpg")
  
  .container
    
    section 
      h2.i-name Makeup Stuffs
      
      .products-section
        
        article.item
          a(href="#")
              img.item-pic(src="/images/product1.JPG")
              
              .item-details
                 p.item-price &#8373; 8.50  
                 h3.i-title Almay Eyeliner Pencils, Black ...
       
        article.item
          a(href="#")
              img.item-pic(src="/images/product2.JPG")
                       
              .item-details
                p.item-price &#8373; 8.50  
                h3.i-title Almay Eyeliner Pencils, Black ...
                          
                          
                          
                          
                          
        article.item
          a(href="#")
              img.item-pic(src="/images/product1.JPG")
                                
              .item-details
                  p.item-price &#8373; 8.50  
                  h3.i-title Almay Eyeliner Pencils, Black ...
                  
                  
  
                    
                      
        article.item
            a(href="#")
                img.item-pic(src="/images/product1.JPG")
                            
                .item-details
                    p.item-price &#8373; 8.50  
                    h3.i-title Almay Eyeliner Pencils, Black ...
                               
                               
                               
                               
                                   
        article.item
          a(href="#")
              img.item-pic(src="/images/product1.JPG")
                                         
              .item-details
                p.item-price &#8373; 8.50  
                h3.i-title Almay Eyeliner Pencils, Black ...
