extends layout
block content 
  section.d-flex.banner-cont
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner1.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                 |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")
            
            
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner2.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                       |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")
            
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner3.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                             |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")
