extends layout
block content 
  section.d-flex.banner-cont
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner1.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                 |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")
            
            
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner2.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                       |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")
            
      a.d-flex.flex-col.banner(href='#')
        img.banner-img.control(src="/images/banner3.jpg")
        div.text-center.sec-banner.bg-violet
          p.text-white.sec-head The New Covergirl 
          P.text-white.sec-body Give you beauty routine a spring revamp with new 
                                             |formulas that will be your seasonal sidekicks           
          div.right-pointer
            img.right-pointer-img(src="/images/pointer-white.svg")

  .products-main-container            
    section.primary-column
      section.buttons.d-flex
        button.signin.control.blk.text-center.text-center.transparent.border-1.bold.mr-15(type="button") Reset 
        button.signin.control.blk.text-center.text-center.transparent.no-border.bold.text-white.bg-nav#done(type='button') Done
      section.filter-section
        a.dpment-head.head-toggler#dpt-toggle Departments
        ul.content-toggle#dpt-toggle
        li.depment-single-level #[a(href="#") Face]
        li.depment-single-level #[a(href="#") Eye]
        li.depment-single-level #[a(href="#") Lips]
        li.depment-single-level #[a(href="#") Makeup Brushes & Tools]
      
      section.filter-section
        a.dpment-head.head-toggler#type-toggle Type
        div.content-toggle#type-toggle
          div.chkbox-area
            input.filter(type="checkbox",id="foundation")
            label(for="foundation") 
              span.check
              |Foundation
                              
          div.chkbox-area
            input.filter(type="checkbox",id="something1")
            label(for="something1")
              span.check
              |Foundation
                                      
          div.chkbox-area
            input.filter(type="checkbox",id="something2")
            label(for="something2") 
              span.check
              |Foundation
                                    
          div.chkbox-area
            input.filter(type="checkbox",id="something3")
            label(for="something3")
              span.check
              |Foundation
                                              
          div.chkbox-area
            input.filter(type="checkbox",id="something4")
            label(for="something4")
              span.check
              |Foundation              
    section.secondary-column
        section.g-list-cont
          h3.text-center  Women's Collection
          ul.g-list
                    
            
            li.g-list-item
              a.g-list-item(href="#")
                .g-list-img.d-flex.flex-col.align-items-center.justify-center
                  img.control(src="/images/product1.jpg")
                .d-flex.flex-col.mt-20
                  span.mb-15 NYX Professional Makeup Retractable Eye liner
                  span.bold &#8373; 27.50
                  
            li.g-list-item
              a.g-list-item(href="#")
                .g-list-img
                  img.control(src="/images/product1.jpg")
                .d-flex.flex-col.mt-20
                  span.mb-15 NYX Professional Makeup Retractable Eye liner
                  span.bold &#8373; 27.50

            li.g-list-item
              a.g-list-item(href="#")
                .g-list-img
                  img.control(src="/images/product1.jpg")
                .d-flex.flex-col.mt-20
                  span.mb-15 NYX Professional Makeup Retractable Eye liner
                  span.bold &#8373; 27.50


            li.g-list-item
              a.g-list-item(href="#")
                .g-list-img
                  img.control(src="/images/product1.jpg")
                .d-flex.flex-col.mt-20
                  span.mb-15 NYX Professional Makeup Retractable Eye liner
                  span.bold &#8373; 27.50
    
                  
                  
                  
                          
        section.g-list-cont
                    h3.text-center  Men's Collection
                    ul.g-list
                      
                      
                      li.g-list-item
                        a.g-list-item(href="#")
                          .g-list-img.d-flex.flex-col.align-items-center.justify-center
                            img.control(src="/images/product1.jpg")
                          .d-flex.flex-col.mt-20
                            span.mb-15 NYX Professional Makeup Retractable Eye liner
                            span.bold &#8373; 27.50
                            
                      li.g-list-item
                        a.g-list-item(href="#")
                          .g-list-img
                            img.control(src="/images/product1.jpg")
                          .d-flex.flex-col.mt-20
                            span.mb-15 NYX Professional Makeup Retractable Eye liner
                            span.bold &#8373; 27.50

                      li.g-list-item
                        a.g-list-item(href="#")
                          .g-list-img
                            img.control(src="/images/product1.jpg")
                          .d-flex.flex-col.mt-20
                            span.mb-15 NYX Professional Makeup Retractable Eye liner
                            span.bold &#8373; 27.50


                      li.g-list-item
                        a.g-list-item(href="#")
                          .g-list-img
                            img.control(src="/images/product1.jpg")
                          .d-flex.flex-col.mt-20
                            span.mb-15 NYX Professional Makeup Retractable Eye liner
                            span.bold &#8373; 27.50
              
                            
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
