extends layout
block content 
  .products-main-container
    


    section.primary-column
      section.buttons.d-flex
       button.signin.control.blk.text-center.text-center.transparent.border-1.bold.mr-15(type="button") Reset 
       button.signin.control.blk.text-center.text-center.transparent.no-border.bold.text-white.bg-nav#done(type='button') Done
      section.filter-section
       a.dpment-head.head-toggler#dpt-toggle Departments
       ul.content-toggle#dpt-toggle
        li.depment-single-level #[a(href="#") Face]
        li.depment-single-level #[a(href="#") Eye]
        li.depment-single-level #[a(href="#") Lips]
        li.depment-single-level #[a(href="#") Makeup Brushes & Tools]
      
      section.filter-section
        a.dpment-head.head-toggler#type-toggle Type
        div.content-toggle#type-toggle
          div.chkbox-area
            input.filter(type="checkbox",id="foundation")
            label(for="foundation") 
              span.check
              |Foundation
              
          div.chkbox-area
            input.filter(type="checkbox",id="something1")
            label(for="something1")
             span.check
             |Foundation
                      
          div.chkbox-area
            input.filter(type="checkbox",id="something2")
            label(for="something2") 
              span.check
              |Foundation
                    
          div.chkbox-area
            input.filter(type="checkbox",id="something3")
            label(for="something3")
              span.check
              |Foundation
                              
          div.chkbox-area
            input.filter(type="checkbox",id="something4")
            label(for="something4")
              span.check
              |Foundation
          
  
    
    section.secondary-column
      
      section.filter-search.d-flex 
        span.mr-auto 12 products
        div.d-flex.justify-center.align-items-center
          button.no-border.transparent
           img(src="/images/list.svg")
          button.no-border.transparent
           img(src="/images/grid.svg")
          button.no-border.transparent#sort-filter
            |Sort & filter
    
      ul.bread-crumb-link
        li #[a(href="#") Makeup]
        li #[a(href="#") Face]
        li #[h1.page-head Face Makeup] 
        
        
      ul.grid-view-cont.d-flex
        li.item-grid-view
          .grid-seperator
            a(href="#").in-blk.grid-img-cont
              img.grid-img(src="/images/product1.jpg")
            div.grid-colors
            
            a(href="#")
              h3.grid-title
                Coty Airspot Translusenet Extra
                Cover ...
            
            p.grid-price &#8373;5.97
            
          
        li.item-grid-view
          .grid-seperator
            div.grid-img-cont
              img.grid-img(src="/images/product2.jpg")
            div.grid-colors
              
            h3.grid-title
              Coty Airspot Translusenet Extra
              Cover ...
            
            p.grid-price &#8373;5.97
            
        li.item-grid-view
          .grid-seperator
            div.grid-img-cont
              img.grid-img(src="/images/product2.jpg")
            div.grid-colors
                    
            h3.grid-title
              Coty Airspot Translusenet Extra
              Cover ...
            p.grid-price &#8373;5.97
            
            
        li.item-grid-view
          .grid-seperator
            div.grid-img-cont
              img.grid-img(src="/images/product2.jpg")
            div.grid-colors
                        
            h3.grid-title
              Coty Airspot Translusenet Extra
              Cover ...
            p.grid-price &#8373;5.97
