extends partials/loginLayout
block content 
  
  h1.login-header.blk.text-center Create your account
  
  .form-container
    form.form-signup(method="post",action="")
      p *required field
      
      label(for="firstname") 
        span.firstname-label First name*
        span.firstname-error.d-flex.align-items-center
          img.error(src="/images/error.svg")
          span.text-danger Firstname is required.
      div.mb-15
        input#firstname.input.blk.control(type="text",name="firstname")
      
      
      label(for="lastname") 
      span.lastname-label Last name*
      span.lastname-error.d-flex.align-items-center
        img.error(src="/images/error.svg")
        span.text-danger Firstname is required.
      div.mb-15
        input#lastname.input.blk.control(type="text",name="lastname")
        
        
      label#email-validate(for="firstname")
        span.email-label Email Address*
        span.email-error.d-flex.align-items-center
          img.error(src="/images/error.svg")
          span.text-danger Please enter a valid email address.
      div.mb-15
        input#email.input.blk.control(type="email",name="email")
          
          
      label#password-validate(for="firstname")
        span.password-label Password*
        span.password-error.d-flex.align-items-center
          img.error(src="/images/error.svg")
          span.text-danger Your password must contain a minimum of 6 characters
      div.rel
        input#password.input.blk.control(type="password",name="password")
        button.no-border.transparent#toggle-hide.abs(type="button") hide  
      
      div
        button.input.control.transparent#form-submit.mt-30(type="submit") Create Account
      small.blk.mt-20.mb-20
        |By clicking Create Account, you acknowledge you have read and agreed to our Terms of Use and Privacy Policy.
    
    
      div.option-msg-container.text-center.rel.d-flex
       span.blk.text-center.option-head.abs.bg-white Already have an Account?
      a.input.signin.control.blk.text-center.text-center(href="/account/signin") Sign In
