extends partials/loginLayout
block content 
  
  h1.login-header.blk.text-center Create your account
  
  .form-container
    form.form-signup(method="post",action="")
      p *required field
      
      label(for="firstname") First name *
      div
        input.input.blk.control(type="text",name="firstname")
      
      
      label(for="firstname") Last name *
      div
        input.input.blk.control(type="text",name="firstname")
        
        
      label#email-validate(for="firstname") Email address*
      div
        input.input.blk.control(type="email",name="firstname")
          
          
      label#password-validate(for="firstname") Password *
      div.rel
        input.input.blk.control#password(type="password",name="firstname")
        button.no-border.transparent#toggle-hide.abs(type="button") hide  
      
      div
        button.input.control.transparent#form-submit.mt-30(type="submit") Create Account

    
    
      div
       p Already have an Account?
       a.input.signin.control.blk.text-center.text-white(href="/account/signin") Sign In
