doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet',href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap-reboot.min.css")
  link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
  link(href="/stylesheets/upload.css" rel="stylesheet")
  script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
  script(src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js")
  
 
body 


    .upload-container
      form.upload.description(method="post",action="/upload/new/description",id="myform",enctype="multipart/form-data")
         
        .saving Saving...
         
        .saved  All data saved!
        .field
          label(for="swatch_color") Variant Color
          input#swatch_color.control(type="text",placeholder="Product Name",name="variant_color",value= (product ? product.name : ''))
        
        div
          input#product_id(type="hidden",value= product_id)
          input#swatch_id(type="hidden",value= swatch_id)
        h1 VARIANT Photos
        label.none.browse-cont.d-flex.justify-center.align-items-center(for="image")
           .loader-div
             div.text-coral
               | UPLOADING. PLEASE WAIT...
             img.loader(src="/images/loader.gif")
           input.none(type="file",id="swatch_image",name="image",multiple)
           .browse-img
             img(src="/images/upload.svg")    
        div.uploaded-photos
          if images 
            for image in images 
              .image-preview
                .image-preview__img
                  img.control(src='https://s3.eu-west-2.amazonaws.com/glammycare/'+image.image, alt='')
                .image-preview__action
                  input.image_key(type='hidden' value= image.image)
                  button.image-preview__btn(type='button')
                    img.image-preview__delete(src='/images/delete.svg' alt='')
                    | Delete photo

          
      
        div 
        .field 
          button.control.blk(type="button") Activate Variant 
    
  
  

script(src="/javascripts/upload.js")
