.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-flex-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.blk {
  display: block;
}

.in-blk {
  display: inline-block;
}

.m-auto {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-bottom: 30px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.no-margin {
  margin: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-left: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fixed {
  position: fixed;
}

.none {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.no-border {
  border: none;
}

.text-white {
  color: #fff !important;
}

.text-danger {
  color: red;
}

.text-dark {
  color: #000;
}

.text-grey {
  color: grey;
}

.bg-nav {
  background-color: #ef426c !important;
}

.border-danger {
  border-color: red !important;
}

.border-white {
  border-color: #fff !important;
}

.border-1 {
  border: 1px solid #000;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.em-8 {
  font-size: .8em;
}

.em-15 {
  font-size: 1.1875em;
}

.transparent {
  background-color: transparent;
}

.no-outline {
  outline: 0;
}

.clearfix {
  content: "";
  display: table;
  content: both;
}

.bg-white {
  background-color: #ffffff;
}

.control {
  width: 100%;
}

.input {
  border: 1px solid #d4cfcf;
  border-radius: 4px;
  padding: 5px 8px;
}

.text-field, .link-btn {
  border: 1px solid #d4cfcf;
  border-radius: 4px;
  padding: 9px 9px;
  width: 100%;
}

.form-label {
  font-size: 1em;
  color: #4c4a4a;
}

.text-field:focus, .text-field:hover {
  border-color: #03a9f4;
  outline: none;
}

.text-field--rounded {
  border-radius: 70px;
}

.email-error, .password-error, .firstname-error, .lastname-error {
  display: none;
  font-size: 14px;
}

.link-btn {
  text-align: center;
  color: #fff;
}

.link-btn--emph {
  background-color: #ef426c;
  color: #fff;
}

.link-btn--rounded {
  border-radius: 70px;
}

.field {
  margin-top: 15px;
}

img.error {
  width: 12px;
  height: 12px;
}

* {
  outline: 0;
}
*:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

button {
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: "PT sans", "sans-serif";
}

a:hover {
  text-decoration: none;
}

.signin-container, .signup-container, .persistent-summary {
  border: 1px solid #e6e7e8;
  border-radius: 4px;
  padding: 20px 30px;
  width: 100%;
}

.sco-container {
  padding: 15px;
}
@media (min-width: 750px) {
  .sco-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 970px) {
  .sco-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1000px) {
  .sco-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .sco-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 750px) {
  .signin-container {
    max-width: 335px;
  }
}

@media (min-width: 750px) {
  .signup-container {
    max-width: 335px;
  }
}

.chk-signin {
  margin-top: 30px;
  margin-bottom: 40px;
}

.indicator-num-cont {
  border-radius: 50%;
  border: 1px solid #b3a7a7;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 5px;
  margin-right: 20px;
}
.indicator-num-cont .indicator-num {
  height: 100%;
}

.lvl-indicator-container {
  margin-top: 30px;
  opacity: 0.5;
}

.indicator .indicator-words {
  font-weight: bold;
  font-size: 1.2em;
}

.lvl-indicator {
  border-top: 1px solid #b3a7a7;
  padding: 15px 25px;
}

.divider {
  width: 100%;
  border-top: 1px solid #b3a7a7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.persistent-summary {
  box-shadow: 0 0 3px #908181;
}
@media (min-width: 750px) {
  .persistent-summary {
    max-width: 230px;
  }
}
.persistent-summary .total, .persistent-summary .est-total {
  font-size: 1.2em;
}

.img-complete {
  width: 40px;
  height: 40px;
}

.img-shipped {
  width: 28px;
  height: 28px;
}

.progress-head {
  font-weight: bold;
  font-size: 1.4em;
}

.confirm-product__cont {
  width: 50px;
  height: 50px;
}

.confirm-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ded0d0;
}

.confirmed-products {
  margin-top: 40px;
  padding: 30px;
}

.confirm-product__img {
  width: 100%;
}

.arrives-word {
  font-size: 1.2em;
}

.arrive-date {
  font-size: 1.2em;
}

.completed-basket {
  margin-bottom: 1px solid #ded0d0;
  opacity: 0.4;
}

.ship-Address {
  padding: 20px;
}

@media (min-width: 750px) {
  .ship-form {
    display: flex;
  }
}

@media (min-width: 750px) {
  .primary-field {
    max-width: 336px;
  }
}

@media (min-width: 750px) {
  .secondary-field {
    padding-left: 30px;
    max-height: 336px;
  }
}

.complete-total {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 3px #d8cfcf;
  background-color: #fff;
  z-index: 20;
}
.complete-total .link-btn {
  width: 150px;
}

.indicator-3 {
  margin-bottom: 100px;
}

.lvl-3 {
  border-bottom: 1px solid #b3a7a7;
}

/*# sourceMappingURL=checkout.css.map */
