button:focus {
  outline: 0; }

button {
  background-color: transparent; }
  button:hover {
    cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

body {
  font-family: "PT sans", "sans-serif"; }

a:hover {
  text-decoration: none; }

.d-flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-col {
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-between {
  justify-content: space-between; }

.blk {
  display: block; }

.in-blk {
  display: inline-block; }

.m-auto {
  margin: auto; }

.mr-auto {
  margin-right: auto; }

.ml-auto {
  margin-left: auto; }

.mt-30 {
  margin-top: 30px; }

.mr-15 {
  margin-right: 15px; }

.ml-15 {
  margin-left: 15px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.no-margin {
  margin: 0; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.none {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-clear {
  clear: both !important; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.no-border {
  border: 0; }

.text-white {
  color: #fff !important; }

.border-white {
  border-color: #fff !important; }

.bold {
  font-weight: bold; }

.em-8 {
  font-size: .8em; }

.transparent {
  background-color: transparent; }

.no-outline {
  outline: 0; }

.clearfix {
  content: "";
  display: table;
  content: both; }

.bg-white {
  background-color: #ffffff; }

.main-header {
  background-color: #ef426c;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 490px) {
    .main-header {
      height: 50px; } }
  @media (min-width: 1005px) {
    .main-header {
      height: 60px;
      padding-left: 270px; } }

.header-container {
  width: 100%;
  justify-content: center;
  align-items: center; }

#menu-icon {
  margin-right: 10px; }
  @media (min-width: 1005px) {
    #menu-icon {
      display: none; } }

@media (min-width: 1005px) {
  .header {
    box-shadow: 3px 0 3px #c9c1c1;
    height: 800px; } }

.logo {
  margin-right: 10px; }

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 578px; }

.fav {
  margin-left: 10px;
  margin-right: 10px; }

.search-field {
  border: 0;
  border-right: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 100%;
  height: 30px; }
  @media (min-width: 1005px) {
    .search-field {
      height: 35px; } }

.search-btn {
  border: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
  background-color: #fff;
  height: 30px; }
  @media (min-width: 1005px) {
    .search-btn {
      height: 35px; } }

.search-icon {
  top: 0;
  left: 0; }

.res-nav {
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  box-shadow: 3px 0 3px #c9c1c1;
  transition: .3s ease-in-out;
  transform: translateX(-260px); }
  @media (min-width: 1005px) {
    .res-nav {
      transition: 0s;
      transform: translateX(0); } }

.user-acct-action {
  background-color: #ef426c;
  padding: 15px; }

.menu-section {
  padding: 0 20px; }
  .menu-section .section-divider {
    border-bottom: 1px solid #ece3e3;
    padding: 15px 0; }
  @media (min-width: 1005px) {
    .menu-section {
      padding: 0 0 0 20px; } }

.main-nav {
  margin-bottom: 15px;
  background: url("../images/right-arrow.svg") no-repeat center right; }
  .main-nav:hover {
    cursor: pointer;
    color: #ef426c; }
  @media (min-width: 1005px) {
    .main-nav {
      background-image: none;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px; } }

.back-cont, .sub-back-cont {
  padding: 15px;
  background-color: #ef426c; }
  .back-cont a, .sub-back-cont a {
    display: block !important; }
  .back-cont:hover, .sub-back-cont:hover {
    cursor: pointer; }
  @media (min-width: 1005px) {
    .back-cont, .sub-back-cont {
      display: none; } }

.back, .sub-back {
  margin: 0;
  color: #fff;
  text-indent: 25px;
  background: url("../images/left-arrow.svg") no-repeat center left; }
  @media (min-width: 1005px) {
    .back, .sub-back {
      display: none; } }

.sub-navs {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5; }
  @media (min-width: 1005px) {
    .sub-navs {
      display: none !important; } }

.sub-sub-navs {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5; }
  @media (min-width: 1005px) {
    .sub-sub-navs {
      position: static;
      display: block; } }

.sub-nav-cont, .sub-sub-nav-cont {
  padding: 20px; }

@media (min-width: 1005px) {
  .sub-sub-nav-cont {
    min-width: 185px; } }

.sub-nav {
  display: block; }

.sub-sub-navs {
  z-index: 10; }

@media (min-width: 1005px) {
  html {
    transform: translateX(0) !important; } }

@media (min-width: 1005px) {
  .nav-container {
    position: absolute;
    display: none;
    top: 0;
    left: 240px;
    background-color: #ffffff;
    border: 1px solid #ece3e3;
    border-bottom: none;
    height: 500px;
    transition: .3s ease-in-out;
    z-index: 8; } }

.sec-notice {
  box-shadow: 0 2px 2px #cec4c4;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.show-menu {
  transform: translateX(260px); }

.force-flex {
  display: flex; }

.site-banner {
  width: 100%; }
  .site-banner .banner-container {
    width: 100%;
    overflow: hidden; }
    .site-banner .banner-container img {
      width: 100%;
      height: 100%; }
  @media (min-width: 1005px) {
    .site-banner {
      margin-left: 260px !important; } }

.container {
  margin-left: 260px; }

.item {
  width: 168px;
  height: 301;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 3px #898383;
  text-align: center;
  padding-bottom: 20px; }
  .item a {
    display: block; }
  .item .item-pic {
    width: 100%; }

.item-details {
  text-align: center; }
  .item-details .item-price {
    color: #ef426c; }

.i-title {
  font-size: 14px;
  font-weight: 300;
  color: #000; }

/*# sourceMappingURL=style.css.map */
